/*
Error: Undefined variable: "$target".
        on line 11 of scss/layout/_grid-columns.scss
        from line 19 of scss/layout/_index.scss
        from line 14 of scss/application.scss

6: // ==========================================================================
7: // Base Styles
8: // ==========================================================================
9: @import "base/index";
10: 
11: // ==========================================================================
12: // Layout Styles
13: // ==========================================================================
14: @import "layout/index";
15: 
16: // ==========================================================================

Backtrace:
scss/layout/_grid-columns.scss:11
scss/layout/_index.scss:19
scss/application.scss:14
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/script/tree/variable.rb:49:in `_perform'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/script/tree/node.rb:50:in `perform'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/script/tree/operation.rb:64:in `_perform'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/script/tree/node.rb:50:in `perform'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/script/tree/funcall.rb:170:in `perform_arg'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/script/tree/funcall.rb:124:in `block in _perform'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/script/tree/funcall.rb:124:in `each'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/script/tree/funcall.rb:124:in `each_with_index'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/script/tree/funcall.rb:124:in `each'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/script/tree/funcall.rb:124:in `map'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/script/tree/funcall.rb:124:in `_perform'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/script/tree/node.rb:50:in `perform'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:377:in `visit_prop'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/stack.rb:115:in `with_frame'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/stack.rb:79:in `with_base'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:152:in `visit'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:412:in `block (2 levels) in visit_rule'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:412:in `map'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:412:in `block in visit_rule'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:410:in `visit_rule'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/stack.rb:115:in `with_frame'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/stack.rb:79:in `with_base'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:152:in `visit'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:264:in `block (3 levels) in visit_for'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:264:in `map'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:264:in `block (2 levels) in visit_for'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:260:in `each'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:260:in `map'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:260:in `block in visit_for'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:259:in `visit_for'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/stack.rb:115:in `with_frame'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/stack.rb:79:in `with_base'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:152:in `visit'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:308:in `block (2 levels) in visit_import'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:308:in `map'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:308:in `block in visit_import'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/stack.rb:88:in `block in with_import'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/stack.rb:115:in `with_frame'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/stack.rb:88:in `with_import'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:305:in `visit_import'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/stack.rb:115:in `with_frame'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/stack.rb:79:in `with_base'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:152:in `visit'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:308:in `block (2 levels) in visit_import'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:308:in `map'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:308:in `block in visit_import'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/stack.rb:88:in `block in with_import'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/stack.rb:115:in `with_frame'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/stack.rb:88:in `with_import'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:305:in `visit_import'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/stack.rb:115:in `with_frame'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/stack.rb:79:in `with_base'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:152:in `visit'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:151:in `visit'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/engine.rb:285:in `render_with_sourcemap'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/plugin/compiler.rb:484:in `update_stylesheet'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/plugin/compiler.rb:214:in `block in update_stylesheets'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/plugin/compiler.rb:208:in `each'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/plugin/compiler.rb:208:in `update_stylesheets'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/plugin/compiler.rb:291:in `watch'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/plugin.rb:108:in `method_missing'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/exec/sass_scss.rb:349:in `watch_or_update'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/exec/sass_scss.rb:50:in `process_result'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/exec/base.rb:40:in `parse'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/exec/base.rb:19:in `parse!'
/usr/local/lib/ruby/gems/2.1.0/gems/sass-3.4.0/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$target\".\A         on line 11 of scss/layout/_grid-columns.scss\A         from line 19 of scss/layout/_index.scss\A         from line 14 of scss/application.scss\A \A 6: // ==========================================================================\A 7: // Base Styles\A 8: // ==========================================================================\A 9: @import \"base/index\";\A 10: \A 11: // ==========================================================================\A 12: // Layout Styles\A 13: // ==========================================================================\A 14: @import \"layout/index\";\A 15: \A 16: // =========================================================================="; }
